.weatherCards {
    display: flex;
    gap: 20px 10px;
    flex-wrap: wrap;
    width: calc((100vw / 3) *2);

}

.weatherCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}