.list {
    display: flex;
    gap: 20px;
    width: 100%;
    overflow-x: scroll;
}
.card {
    min-width: 300px;
    height: 300px;
    cursor: pointer;
}

.cardImg {
    width: 100%;
}

@media only screen and (max-width: 767px) {
    
}

